@import "./theme/variables";
@import "./theme/themes";
@import "./theme/mixin";
@include themify($themes);

body {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
  white-space: nowrap;
  margin: 0;
}

h2 {
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
  white-space: nowrap;
  margin: 0;
}

h3 {
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
  white-space: nowrap;
  margin: 0;
}
