@import './theme/variables.scss';
@import './theme/themes.scss';
@import './theme/mixin.scss';

@include themify($themes);

body {
    padding: 0px;
    margin: 0px;
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial', Arial, sans-serif;
    white-space: nowrap;
    margin: 0px;
}

h2 {
    font-family:'Franklin Gothic Medium', 'Arial', Arial, sans-serif;
    white-space: nowrap;
    margin: 0px;
}

h3 {
    font-family:'Franklin Gothic Medium', 'Arial', Arial, sans-serif;
    white-space: nowrap;
    margin: 0px;
}