@import './variables.scss';

$themes:(
    life:(
        bg: $life-color,
        content: (
            bg: $life-color,
            color: $death-color,
            lightColor: $life-color-light,
        )
    ),
    death:(
        bg: $death-color,
        content: (
            bg: $death-color,
            color: $life-color,
            lightColor: $death-color-light,
        )
))