@import "./variables";

$themes: (
  life:(
    bg: $life-color,
    content: (
      bg: $life-color,
      color: $death-color,
      lightcolor: $life-color-light,
    )
  ),
  death:(
    bg: $death-color,
    content: (
      bg: $death-color,
      color: $life-color,
      lightcolor: $death-color-light,
    )
  ));
