@import './variable.scss';

$themes:(life:(
    body-color: $life-color,
    theme-title-background: ( $death-color ),
    theme-title-color: $life-color,
),
death:(
    body-color: $death-color,
    theme-title-background: $life-color,
    theme-title-color: $death-color,
))